name: Deploy the websocket server
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v2
              with: 
                fetch-depth: 0

            - name: Docker login
              uses: docker/login-action@v2
              with:
                username: ${{secrets.DOCKERHUB_USERNAME}}
                password: ${{secrets.DOCKERHUB_TOKEN}}

            - name: Build and Push
              uses: docker/build-push-action@v2
              with:
                context: .
                file: ./docker/Dockerfile.ws
                push: true
                tags: cotishq/todo-app-ws:${{github.sha}}

